body {
  margin: 0;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: black;
  color: #333333;
  font-family: monospace;
  font-size: 8px;
  overflow: clip;
  /* text-overflow: clip; */
}

.gui {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
  width: 10rem;
}

.thumbnail {
  position: relative;
  padding: 0;
  border: none;
  height: 10rem;
  display: block;
  border: 1px solid white;
}

.thumbnail:hover {
  cursor: pointer;
}

.thumbnail img {
  width: 100%;
  height: auto;
  transition: filter 100ms ease-out;
}

.thumbnail:hover img {
  filter: brightness(25%);
}

.thumbnail i {
  position: absolute;
  color: white;
  text-align: center;
  top: 25%;
  left: 25%;
  font-size: 5rem;
  opacity: 0;
  transition: opacity 100ms ease-out;
}

.thumbnail:hover i {
  opacity: 1;
}

input {
  display: block;
  width: 100%;
  margin-top: 1rem;
}

#red-slider {
  accent-color: red;
}

#green-slider {
  accent-color: green;
}

#blue-slider {
  accent-color: blue;
}
