body {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: "Inter", sans-serif;
}

.iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

main img {
  max-width: 100%;
  height: auto;
}

main iframe,
main img {
  border: 1px solid white;
  box-sizing: border-box;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: black;
  color: #333333;
  font-family: monospace;
  font-size: 8px;
  word-break: break-all;
  white-space: normal;
  overflow: clip;
}

.gui-container {
  position: absolute;
  bottom: 1rem;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.gui {
  width: 25rem;
  display: flex;
  justify-content: space-around;
  z-index: 1;
}

@media (min-width: 768px) {
  .gui-container {
    display: block;
    top: 1rem;
    left: 1rem;
    width: 10rem;
  }

  .gui {
    display: block;
  }

  .controls {
    margin-top: 1rem;
  }
}

.thumbnail,
.controls {
  height: 10rem;
  width: 10rem;
}

.thumbnail {
  border: 1px solid white;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.btn {
  padding: 0.5rem;
  font-size: 2rem;
  background-color: black;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 100ms ease-out;
  transition: transform 100ms ease-out;
}

.btn:hover {
  background-color: #333333;
}

.btn:active {
  background-color: #666666;
  transform: scale(0.9);
}

.upload {
  box-sizing: border-box;
  text-align: center;
}

.upload input {
  display: none;
}

input {
  display: block;
  width: 100%;
  margin-top: 1rem;
}

input[type="file"] {
  display: none;
}

#red-slider {
  accent-color: red;
}

#green-slider {
  accent-color: green;
}

#blue-slider {
  accent-color: blue;
}

.help {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 3;
}

.help-overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.85);
  color: whitesmoke;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.help-overlay main {
  max-width: 50rem;
  overflow-y: auto;
}
